
.container {
  border: 1px solid black;
  background-color: rgb(233, 231, 231);
  display: flex;
  justify-content: space-between; /* Alinea los elementos en los extremos opuestos del contenedor */
  align-items: center; /* Alinea verticalmente los elementos en el centro del contenedor */
  padding: 10px 20px; /* Espaciado interno para separar el logo y los enlaces */
  height: 150px; 
  border-radius: 10px;
}
.logoImageContainer {
  display: flex;
  align-items: center;
}

.logoImage {
  margin-top: 1.5px;
  width: 150px; /* Ajusta el ancho de tu logo según tu preferencia */
  height: 150px; /* Ajusta la altura de tu logo según tu preferencia */
  border-radius: 50%; /* Hace que la imagen sea circular */
  overflow: hidden; /* Oculta cualquier contenido que se desborde */
  margin-right: -10px; /* Añade margen derecho para separar la imagen del texto */
  
  /* Agrega el efecto al borde */
  box-shadow: 0 0px 30px #FF8000; /* Cambia el valor según el efecto deseado */
}
.circularImage {
  width: 50px; /* Ajusta el ancho de tu imagen circular según tu preferencia */
  height: 50px; /* Ajusta la altura de tu imagen circular según tu preferencia */
  border-radius: 50%; /* Hace que la imagen sea circular */
}
.title {
  font-size: 40px;
  font-family: 'Josefin Slab', serif;
  font-weight: bold; 
  
}
.title2 {
  font-size: 30px;
  font-family: 'Josefin Slab', serif;
  font-weight: bold; 
  margin-top: 10px;
}


.navLinks {
  list-style: none;
  margin: 400px;
  margin-left: 100px;
  padding: 0;
  display: flex;
  align-items: center; 
}

.navLinks li {
  border-radius: 10px;
  margin-right: 25px; 
  padding: 5px 15px; 
  transition: background-color 0.3s ease, transform 0.3s ease;
  
  /* Agrega el efecto de sombra al botón */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Cambia el valor según el efecto deseado */
}
.navLinks li:hover {
  transform: scale(1.1); /* Escalar el enlace cuando el mouse esté sobre él */
  cursor: pointer; /* Cambiar el cursor al estilo de puntero */
}
.navLinks a {
  color:  #FF8000;
  text-decoration: none;
  font-size: 38px;
  font-family: 'Josefin Slab', serif;
  font-weight: bold; 
  
 
}
.navLinks li:hover {
  transform: scale(1.1); /* Escalar el enlace cuando el mouse esté sobre él */
  cursor: pointer; /* Cambiar el cursor al estilo de puntero */
}


.logo:hover {
   transform: scale(1.05); /* Escalar el elemento cuando el mouse esté sobre él */
}



/* Estilos para pantallas más pequeñas (ejemplo: hasta 768px) */
@media screen and (max-width: 768px) {
  .container {

    flex-direction: column; /* Apila los elementos en columnas en pantallas pequeñas */
    text-align: center; /* Centra el contenido en el centro del contenedor */
  }

  .navLinks {
    margin-top: 10px; /* Espaciado entre el logo y los enlaces en pantallas pequeñas */
  }

  .navLinks li {
    margin: 10px 0;
  }
}
.icon {
  color: #FF8000; 
  
}

.githubLink,
.linkedinLink {
  display: flex;
  justify-content: center;
  align-items:self-end;
  font-size: 30px;
  text-decoration: none;
  vertical-align: middle; 
  color: black;
   margin-right: 3rem;/* Espaciado entre los enlaces y otros elementos de la barra de navegación */
   margin-top: 5px;
  
}

.githubLink .icon,
.linkedinLink .icon {
  font-size: 36px; /* Tamaño de los íconos */
  margin-right: 5px; /* Espaciado entre el ícono y el texto */
  margin-top: 10px;
  vertical-align: middle; 
}


/* Estilos para pantallas más pequeñas (ejemplo: hasta 768px) */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column; /* Apila los elementos en columnas en pantallas pequeñas */
    text-align: center; /* Centra el contenido en el centro del contenedor */
  }

  .logoImage {
    width: 100px; /* Reduce el tamaño del logo en pantallas pequeñas */
    height: 100px; /* Reduce el tamaño del logo en pantallas pequeñas */
    margin-bottom: 10px; /* Espaciado inferior para separar el logo de los enlaces */
  }

  .navLinks {
    margin-top: 10px; /* Espaciado entre el logo y los enlaces en pantallas pequeñas */
  }

  .navLinks li {
    margin: 10px 0; /* Espaciado entre elementos */
  }

  .githubLink,
  .linkedinLink {
    font-size: 24px; /* Reduce el tamaño de los enlaces en pantallas pequeñas */
    margin-right: 0; /* Elimina el margen derecho para que los enlaces se ajusten mejor */
  }

  .githubLink .icon,
  .linkedinLink .icon {
    font-size: 24px; /* Reduce el tamaño de los íconos en pantallas pequeñas */
    margin-right: 5px; /* Espaciado entre el ícono y el texto */
  }
}
