/* Home.module.css */

.container {
    text-align: center;
    margin: 20px;
  }
  
  .title {
    font-size: 60px;
    margin-bottom: 20px;
    font-family: 'Josefin Slab', serif;
    font-weight: bold; 
  }
  .title2 {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Josefin Slab', serif;
    font-weight: bold; 
  }
  
  .carousel {
    width: 80%; /* Ajusta el ancho del carrusel según tus necesidades */
    margin: 0 auto; /* Centra el carrusel horizontalmente */
  }
  

  